In [1]:
import pandas
import seaborn
import numpy
import sklearn.impute
import sklearn.preprocessing

%matplotlib inline

# Instructions

- Read both training and test data from CSV files
- Then, identify which columns are numerical and which columns are categorical
    - Note that some of numerical feature are actually categorical feature
- Assess whether the data is balance or imbalance

In [2]:
data_train = pandas.read_csv('../data/high_salary.train.csv').set_index('id')
data_train

,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,label
id,,,,,,,,,,,,,,,,,,
8616,830617145.0,8732.0,2.0,self-emp-inc,270079.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0
21982,151595184.0,1894.0,3.0,local-gov,146325.0,doctorate,16.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,2.0,2.0,USA,united-states,1.0
11191,303184281.0,9466.0,0.0,private,240767.0,hs-grad,9.0,never-married,other-service,not-in-family,white,female,0.0,0.0,1.0,USA,united-states,0.0
22229,369287837.0,8511.0,2.0,private,118536.0,hs-grad,9.0,divorced,machine-op-inspct,other-relative,black,male,0.0,0.0,2.0,USA,united-states,0.0
20732,420084973.0,1281.0,3.0,private,160440.0,bachelors,13.0,married-civ-spouse,sales,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,615678823.0,8878.0,0.0,private,147253.0,assoc-acdm,12.0,never-married,sales,not-in-family,white,male,0.0,0.0,2.0,USA,united-states,0.0
5390,473521238.0,6596.0,3.0,private,330543.0,preschool,1.0,married-civ-spouse,other-service,husband,white,male,0.0,0.0,2.0,MEX,mexico,0.0
860,679713121.0,1306.0,3.0,private,41223.0,some-college,10.0,married-civ-spouse,adm-clerical,husband,white,male,0.0,0.0,2.0,USA,united-states,1.0
15795,254582054.0,7815.0,0.0,state-gov,275421.0,some-college,10.0,never-married,machine-op-inspct,own-child,white,female,0.0,0.0,2.0,USA,united-states,0.0
23654,537182363.0,2765.0,4.0,private,177271.0,masters,14.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0

In [3]:
data_test = pandas.read_csv('../data/high_salary.test_features.csv').set_index('id')
data_test

,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country
id,,,,,,,,,,,,,,,,,
27867,532734813.0,4238.0,NaN,private,214541.0,masters,14.0,divorced,prof-specialty,not-in-family,white,male,0.0,0.0,2.0,CAN,canada
27868,636521681.0,1679.0,1.0,self-emp-not-inc,62932.0,hs-grad,9.0,married-civ-spouse,craft-repair,husband,white,male,0.0,0.0,2.0,USA,united-states
27869,864336060.0,7623.0,2.0,private,269168.0,bachelors,13.0,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,0.0,0.0,2.0,CHN,china
27870,584984085.0,7483.0,0.0,self-emp-inc,148955.0,some-college,10.0,never-married,other-service,own-child,asian-pac-islander,female,0.0,0.0,1.0,ZAF,south
27871,924906706.0,3661.0,1.0,local-gov,182570.0,assoc-acdm,12.0,married-civ-spouse,protective-serv,husband,white,male,0.0,0.0,2.0,USA,united-states
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34862,292322045.0,4914.0,1.0,local-gov,275369.0,some-college,10.0,never-married,protective-serv,not-in-family,black,male,0.0,0.0,2.0,USA,united-states
34863,475380257.0,6586.0,2.0,private,230467.0,bachelors,13.0,never-married,sales,own-child,white,male,0.0,0.0,2.0,DUE,germany
34864,463791400.0,387.0,1.0,local-gov,429897.0,bachelors,13.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,0.0,2.0,MEX,mexico
34865,113179248.0,3779.0,3.0,private,249072.0,hs-grad,9.0,married-civ-spouse,transport-moving,husband,white,male,0.0,0.0,3.0,USA,united-states
34866,787584207.0,730.0,2.0,private,105794.0,prof-school,15.0,never-married,prof-specialty,not-in-family,white,female,4.0,0.0,3.0,USA,united-states

In [4]:
data_train.dtypes

social-security-number    float64
house-number              float64
age-group                 float64
workclass                  object
fnlwgt                    float64
education                  object
education-num             float64
marital-status             object
occupation                 object
relationship               object
race                       object
sex                        object
capitalgain               float64
capitalloss               float64
hoursperweek              float64
native-country-code        object
native-country             object
label                     float64
dtype: object

In [5]:
categorical_features = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country-code',
    'native-country'
]

for feature in categorical_features:
    possible_values = data_train[feature].unique()
    print(f"{feature:20s} {possible_values.size:2d} {possible_values}")

workclass             9 ['self-emp-inc' 'local-gov' 'private' 'state-gov' 'self-emp-not-inc' nan
 'federal-gov' 'without-pay' 'never-worked']
education            17 ['bachelors' 'doctorate' 'hs-grad' '10th' 'some-college' 'masters'
 'prof-school' '5th-6th' '7th-8th' 'assoc-acdm' '12th' 'preschool'
 'assoc-voc' '9th' '11th' '1st-4th' nan]
marital-status        8 ['married-civ-spouse' 'never-married' 'divorced' 'widowed' 'separated'
 'married-spouse-absent' 'married-af-spouse' nan]
occupation           15 ['exec-managerial' 'prof-specialty' 'other-service' 'machine-op-inspct'
 'sales' 'handlers-cleaners' 'craft-repair' 'adm-clerical' 'tech-support'
 nan 'farming-fishing' 'transport-moving' 'priv-house-serv'
 'protective-serv' 'armed-forces']
relationship          7 ['husband' 'not-in-family' 'other-relative' 'unmarried' 'own-child' 'wife'
 nan]
race                  6 ['white' 'black' 'amer-indian-eskimo' 'other' 'asian-pac-islander' nan]
sex                   3 ['male' 'female' nan]
native-country-code  41 ['USA' 'ECU' 'FRA' 'MEX' 'CAN' 'SLV' 'ZAF' 'LAO' 'PER' 'PRT' 'DUE' nan
 'CHN' 'PRI' 'JPN' 'JAM' 'HTI' 'DOM' 'ITA' 'COL' 'PHL' 'CUB' 'TWN' 'IND'
 'NIC' 'VNM' 'KHM' 'IRN' 'GTM' 'GBR' 'HKG' 'HUN' 'HND' 'THA' 'POL' 'IRL'
 'UMI' 'GRC' 'YUG' 'TTO' 'NLD']
native-country       42 ['united-states' 'ecuador' 'france' 'mexico' 'canada' 'el-salvador'
 'south' 'laos' 'peru' 'portugal' 'germany' nan 'china' 'puerto-rico'
 'japan' 'jamaica' 'haiti' 'dominican-republic' 'italy' 'columbia'
 'philippines' 'cuba' 'taiwan' 'india' 'nicaragua' 'vietnam' 'cambodia'
 'iran' 'guatemala' 'england' 'hong' 'hungary' 'honduras' 'thailand'
 'poland' 'scotland' 'ireland' 'outlying-us(guam-usvi-etc)' 'greece'
 'yugoslavia' 'trinadad&tobago' 'holand-netherlands']

In [6]:
data_train['label'].value_counts()

label
0.0    12135
1.0     8765
Name: count, dtype: int64

data_test['label'].value_counts()

In [7]:
numerical_features = [
    'social-security-number',
    'house-number',
    'age-group',
    'fnlwgt',
    'education-num',
    'capitalgain',
    'capitalloss',
    'hoursperweek',
    
]

data_train[numerical_features].describe()

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
count,2.088600e+04,20873.00000,20887.000000,2.087700e+04,20886.000000,20877.000000,20879.000000,20879.000000
mean,5.509897e+08,5053.09553,1.910327,1.891310e+05,10.457483,0.306893,0.150821,2.042387
std,2.603583e+08,2863.89731,1.251276,1.033706e+05,2.607752,0.939457,0.643003,0.877044
min,1.000659e+08,101.00000,0.000000,1.376900e+04,1.000000,0.000000,0.000000,0.000000
25%,3.209004e+08,2602.00000,1.000000,1.178490e+05,9.000000,0.000000,0.000000,2.000000
50%,5.521493e+08,5011.00000,2.000000,1.779450e+05,10.000000,0.000000,0.000000,2.000000
75%,7.770986e+08,7554.00000,3.000000,2.367690e+05,13.000000,0.000000,0.000000,3.000000
max,9.999588e+08,9998.00000,4.000000,1.226583e+06,16.000000,4.000000,4.000000,4.000000

# Instructions
- Investigate whether the dataset contains any missing data

In [8]:
data_train.isna().sum(axis='index')

social-security-number      14
house-number                27
age-group                   13
workclass                 1057
fnlwgt                      23
education                   20
education-num               14
marital-status              23
occupation                1054
relationship                21
race                        22
sex                         22
capitalgain                 23
capitalloss                 21
hoursperweek                21
native-country-code        399
native-country             398
label                        0
dtype: int64

In [9]:
data_test.isna().sum(axis='index')

social-security-number      6
house-number                7
age-group                   9
workclass                 349
fnlwgt                      5
education                  11
education-num               3
marital-status              6
occupation                349
relationship               13
race                        2
sex                        11
capitalgain                 7
capitalloss                12
hoursperweek                6
native-country-code       130
native-country            123
dtype: int64

# Instructions
- Create 4 `pandas.DataFrame`s
    - `pandas.DataFrame` of only numerical features. Also, apply `sklearn.preprocessing.StandardScaler`.
    - `pandas.DataFrame` of only ordinal features encoded using `sklearn.preprocessing.OrdinalEncoder`
    - `pandas.DataFrame` of only nominal features encoded using `sklearn.preprocessing.OneHotEncoder`
    - `pandas.DataFrame` of labels encoded using `sklearn.preprocessing.OrdinalEncoder` 
       - Map {`good`, `bad`} to {0, 1} respectively
- Note that these **filling parameters** should be applied to the test data as well
- Then, combine the 4 `pandas.DataFrame` to obtain the fully processed training and test data
  - Hint: use `.join`

## For numerical features
- Define and select a subset of numerical features for training and test data
- Use `sklearn.preprocessing.StandardScaler` to create a standard scaler, then fit using the training data
- Create a new `pandas.DataFrame` of only numerically encoded features for both training and test data

In [10]:
numerical_features = [
    'social-security-number',
    'house-number',
    'age-group',
    'fnlwgt',
    'education-num',
    'capitalgain',
    'capitalloss',
    'hoursperweek',
]

In [11]:
data_train_numerical_features = data_train[numerical_features]
data_train_numerical_features

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
id,,,,,,,,
8616,830617145.0,8732.0,2.0,270079.0,13.0,0.0,0.0,3.0
21982,151595184.0,1894.0,3.0,146325.0,16.0,0.0,2.0,2.0
11191,303184281.0,9466.0,0.0,240767.0,9.0,0.0,0.0,1.0
22229,369287837.0,8511.0,2.0,118536.0,9.0,0.0,0.0,2.0
20732,420084973.0,1281.0,3.0,160440.0,13.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...
21575,615678823.0,8878.0,0.0,147253.0,12.0,0.0,0.0,2.0
5390,473521238.0,6596.0,3.0,330543.0,1.0,0.0,0.0,2.0
860,679713121.0,1306.0,3.0,41223.0,10.0,0.0,0.0,2.0
15795,254582054.0,7815.0,0.0,275421.0,10.0,0.0,0.0,2.0
23654,537182363.0,2765.0,4.0,177271.0,14.0,0.0,0.0,3.0

In [12]:
data_test_numerical_features = data_test[numerical_features]
data_test_numerical_features

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
id,,,,,,,,
27867,532734813.0,4238.0,NaN,214541.0,14.0,0.0,0.0,2.0
27868,636521681.0,1679.0,1.0,62932.0,9.0,0.0,0.0,2.0
27869,864336060.0,7623.0,2.0,269168.0,13.0,0.0,0.0,2.0
27870,584984085.0,7483.0,0.0,148955.0,10.0,0.0,0.0,1.0
27871,924906706.0,3661.0,1.0,182570.0,12.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...
34862,292322045.0,4914.0,1.0,275369.0,10.0,0.0,0.0,2.0
34863,475380257.0,6586.0,2.0,230467.0,13.0,0.0,0.0,2.0
34864,463791400.0,387.0,1.0,429897.0,13.0,0.0,0.0,2.0
34865,113179248.0,3779.0,3.0,249072.0,9.0,0.0,0.0,3.0
34866,787584207.0,730.0,2.0,105794.0,15.0,4.0,0.0,3.0

In [13]:
numerical_imputer = sklearn.impute.SimpleImputer(strategy = 'mean')
numerical_imputer

SimpleImputer()

In [14]:
numerical_imputer.fit(data_train_numerical_features)

SimpleImputer()

In [15]:
data_train_numerical_features = pandas.DataFrame(
    data = numerical_imputer.transform(data_train_numerical_features),
    columns = numerical_imputer.get_feature_names_out(),
    index = data_train_numerical_features.index
)
data_train_numerical_features

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
id,,,,,,,,
8616,830617145.0,8732.0,2.0,270079.0,13.0,0.0,0.0,3.0
21982,151595184.0,1894.0,3.0,146325.0,16.0,0.0,2.0,2.0
11191,303184281.0,9466.0,0.0,240767.0,9.0,0.0,0.0,1.0
22229,369287837.0,8511.0,2.0,118536.0,9.0,0.0,0.0,2.0
20732,420084973.0,1281.0,3.0,160440.0,13.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...
21575,615678823.0,8878.0,0.0,147253.0,12.0,0.0,0.0,2.0
5390,473521238.0,6596.0,3.0,330543.0,1.0,0.0,0.0,2.0
860,679713121.0,1306.0,3.0,41223.0,10.0,0.0,0.0,2.0
15795,254582054.0,7815.0,0.0,275421.0,10.0,0.0,0.0,2.0
23654,537182363.0,2765.0,4.0,177271.0,14.0,0.0,0.0,3.0

In [16]:
data_test_numerical_features = pandas.DataFrame(
    data = numerical_imputer.transform(data_test_numerical_features),
    columns = numerical_imputer.get_feature_names_out(),
    index = data_test_numerical_features.index
)
data_test_numerical_features

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
id,,,,,,,,
27867,532734813.0,4238.0,1.910327,214541.0,14.0,0.0,0.0,2.0
27868,636521681.0,1679.0,1.000000,62932.0,9.0,0.0,0.0,2.0
27869,864336060.0,7623.0,2.000000,269168.0,13.0,0.0,0.0,2.0
27870,584984085.0,7483.0,0.000000,148955.0,10.0,0.0,0.0,1.0
27871,924906706.0,3661.0,1.000000,182570.0,12.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...
34862,292322045.0,4914.0,1.000000,275369.0,10.0,0.0,0.0,2.0
34863,475380257.0,6586.0,2.000000,230467.0,13.0,0.0,0.0,2.0
34864,463791400.0,387.0,1.000000,429897.0,13.0,0.0,0.0,2.0
34865,113179248.0,3779.0,3.000000,249072.0,9.0,0.0,0.0,3.0
34866,787584207.0,730.0,2.000000,105794.0,15.0,4.0,0.0,3.0

In [17]:
standard_scaler = sklearn.preprocessing.StandardScaler()
standard_scaler

StandardScaler()

In [18]:
standard_scaler.fit(data_train_numerical_features)

StandardScaler()

In [19]:
data_train_numerical_features = pandas.DataFrame(
    data    = standard_scaler.transform(data_train_numerical_features),
    columns = standard_scaler.get_feature_names_out(),
    index   = data_train_numerical_features.index
)
data_train_numerical_features

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
id,,,,,,,,
8616,1.074396,1.285441,0.071689,0.783535,0.975334,-0.326858,-0.234681,1.092439
21982,-1.534570,-1.103815,0.871141,-0.414340,2.126163,-0.326858,2.877363,-0.048355
11191,-0.952128,1.541907,-1.527215,0.499810,-0.559105,-0.326858,-0.234681,-1.189149
22229,-0.698142,1.208222,0.071689,-0.683323,-0.559105,-0.326858,-0.234681,-0.048355
20732,-0.502967,-1.318003,0.871141,-0.277714,0.975334,-0.326858,-0.234681,1.092439
...,...,...,...,...,...,...,...,...
21575,0.248551,1.336455,-1.527215,-0.405358,0.591724,-0.326858,-0.234681,-0.048355
5390,-0.297652,0.539104,0.871141,1.368795,-3.627983,-0.326858,-0.234681,-0.048355
860,0.494586,-1.309268,0.871141,-1.431674,-0.175495,-0.326858,-0.234681,-0.048355
15795,-1.138869,0.965033,-1.527215,0.835243,-0.175495,-0.326858,-0.234681,-0.048355
23654,-0.053051,-0.799480,1.670593,-0.114799,1.358944,-0.326858,-0.234681,1.092439

In [20]:
data_test_numerical_features = pandas.DataFrame(
    data    = standard_scaler.transform(data_test_numerical_features),
    columns = standard_scaler.get_feature_names_out(),
    index   = data_test_numerical_features.index
)
data_test_numerical_features

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek
id,,,,,,,,
27867,-0.070140,-0.284801,-1.775140e-16,0.245956,1.358944,-0.326858,-0.234681,-0.048355
27868,0.328634,-1.178938,-7.277627e-01,-1.221542,-0.559105,-0.326858,-0.234681,-0.048355
27869,1.203952,0.897947,7.168925e-02,0.774717,0.975334,-0.326858,-0.234681,-0.048355
27870,0.130615,0.849030,-1.527215e+00,-0.388883,-0.175495,-0.326858,-0.234681,-1.189149
27871,1.436679,-0.486410,-7.277627e-01,-0.063507,0.591724,-0.326858,-0.234681,-0.048355
...,...,...,...,...,...,...,...,...
34862,-0.993863,-0.048601,-7.277627e-01,0.834739,-0.175495,-0.326858,-0.234681,-0.048355
34863,-0.290510,0.535610,7.168925e-02,0.400111,0.975334,-0.326858,-0.234681,-0.048355
34864,-0.335037,-1.630374,-7.277627e-01,2.330491,0.975334,-0.326858,-0.234681,-0.048355
34865,-1.682173,-0.445180,8.711412e-01,0.580198,-0.559105,-0.326858,-0.234681,1.092439
34866,0.909053,-1.510527,7.168925e-02,-0.806659,1.742553,3.933366,-0.234681,1.092439

In [21]:
data_train_numerical_features.isna().sum(axis='index')

social-security-number    0
house-number              0
age-group                 0
fnlwgt                    0
education-num             0
capitalgain               0
capitalloss               0
hoursperweek              0
dtype: int64

In [22]:
data_test_numerical_features.isna().sum(axis='index')

social-security-number    0
house-number              0
age-group                 0
fnlwgt                    0
education-num             0
capitalgain               0
capitalloss               0
hoursperweek              0
dtype: int64

## For ordinal features
- Define a subset of ordinal features
- Define a list of ordinal maps which sort the feature values in appropriate orders
- Use `sklearn.preprocessing.OrdinalEncoder` to create an ordinal encoder, then fit using the training data
- Create a new `pandas.DataFrame` of only ordinally encoded features for both training and test data

In [23]:
categorical_features = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country-code',
    'native-country'
]

In [24]:
data_train_categorical_features = data_train[categorical_features]
data_train_categorical_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
8616,self-emp-inc,bachelors,married-civ-spouse,exec-managerial,husband,white,male,USA,united-states
21982,local-gov,doctorate,married-civ-spouse,prof-specialty,husband,white,male,USA,united-states
11191,private,hs-grad,never-married,other-service,not-in-family,white,female,USA,united-states
22229,private,hs-grad,divorced,machine-op-inspct,other-relative,black,male,USA,united-states
20732,private,bachelors,married-civ-spouse,sales,husband,white,male,USA,united-states
...,...,...,...,...,...,...,...,...,...
21575,private,assoc-acdm,never-married,sales,not-in-family,white,male,USA,united-states
5390,private,preschool,married-civ-spouse,other-service,husband,white,male,MEX,mexico
860,private,some-college,married-civ-spouse,adm-clerical,husband,white,male,USA,united-states
15795,state-gov,some-college,never-married,machine-op-inspct,own-child,white,female,USA,united-states
23654,private,masters,married-civ-spouse,exec-managerial,husband,white,male,USA,united-states

In [25]:
data_test_categorical_features = data_test[categorical_features]
data_test_categorical_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
27867,private,masters,divorced,prof-specialty,not-in-family,white,male,CAN,canada
27868,self-emp-not-inc,hs-grad,married-civ-spouse,craft-repair,husband,white,male,USA,united-states
27869,private,bachelors,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,CHN,china
27870,self-emp-inc,some-college,never-married,other-service,own-child,asian-pac-islander,female,ZAF,south
27871,local-gov,assoc-acdm,married-civ-spouse,protective-serv,husband,white,male,USA,united-states
...,...,...,...,...,...,...,...,...,...
34862,local-gov,some-college,never-married,protective-serv,not-in-family,black,male,USA,united-states
34863,private,bachelors,never-married,sales,own-child,white,male,DUE,germany
34864,local-gov,bachelors,married-civ-spouse,prof-specialty,husband,white,male,MEX,mexico
34865,private,hs-grad,married-civ-spouse,transport-moving,husband,white,male,USA,united-states
34866,private,prof-school,never-married,prof-specialty,not-in-family,white,female,USA,united-states

In [26]:
categorical_imputer = sklearn.impute.SimpleImputer(strategy='most_frequent')
categorical_imputer

SimpleImputer(strategy='most_frequent')

In [27]:
categorical_imputer.fit(data_train_categorical_features)

SimpleImputer(strategy='most_frequent')

In [28]:
data_train_categorical_features = pandas.DataFrame(
    data = categorical_imputer.transform(data_train_categorical_features),
    columns = categorical_imputer.get_feature_names_out(),
    index = data_train_categorical_features.index
)
data_train_categorical_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
8616,self-emp-inc,bachelors,married-civ-spouse,exec-managerial,husband,white,male,USA,united-states
21982,local-gov,doctorate,married-civ-spouse,prof-specialty,husband,white,male,USA,united-states
11191,private,hs-grad,never-married,other-service,not-in-family,white,female,USA,united-states
22229,private,hs-grad,divorced,machine-op-inspct,other-relative,black,male,USA,united-states
20732,private,bachelors,married-civ-spouse,sales,husband,white,male,USA,united-states
...,...,...,...,...,...,...,...,...,...
21575,private,assoc-acdm,never-married,sales,not-in-family,white,male,USA,united-states
5390,private,preschool,married-civ-spouse,other-service,husband,white,male,MEX,mexico
860,private,some-college,married-civ-spouse,adm-clerical,husband,white,male,USA,united-states
15795,state-gov,some-college,never-married,machine-op-inspct,own-child,white,female,USA,united-states
23654,private,masters,married-civ-spouse,exec-managerial,husband,white,male,USA,united-states

In [29]:
data_test_categorical_features = pandas.DataFrame(
    data = categorical_imputer.transform(data_test_categorical_features),
    columns = categorical_imputer.get_feature_names_out(),
    index = data_test_categorical_features.index
)
data_test_categorical_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
27867,private,masters,divorced,prof-specialty,not-in-family,white,male,CAN,canada
27868,self-emp-not-inc,hs-grad,married-civ-spouse,craft-repair,husband,white,male,USA,united-states
27869,private,bachelors,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,CHN,china
27870,self-emp-inc,some-college,never-married,other-service,own-child,asian-pac-islander,female,ZAF,south
27871,local-gov,assoc-acdm,married-civ-spouse,protective-serv,husband,white,male,USA,united-states
...,...,...,...,...,...,...,...,...,...
34862,local-gov,some-college,never-married,protective-serv,not-in-family,black,male,USA,united-states
34863,private,bachelors,never-married,sales,own-child,white,male,DUE,germany
34864,local-gov,bachelors,married-civ-spouse,prof-specialty,husband,white,male,MEX,mexico
34865,private,hs-grad,married-civ-spouse,transport-moving,husband,white,male,USA,united-states
34866,private,prof-school,never-married,prof-specialty,not-in-family,white,female,USA,united-states

In [30]:
data_train_categorical_features.isna().sum(axis='index')

workclass              0
education              0
marital-status         0
occupation             0
relationship           0
race                   0
sex                    0
native-country-code    0
native-country         0
dtype: int64

In [31]:
data_test_categorical_features.isna().sum(axis='index')

workclass              0
education              0
marital-status         0
occupation             0
relationship           0
race                   0
sex                    0
native-country-code    0
native-country         0
dtype: int64

ordinal_features = [
    'employment', 
    'own_telephone',
    'foreign_worker',
    'installment_commitment',
    'residence_since',
    'existing_credits',
    'num_dependents',
]

ordinal_mapping = [
    ['unemployed', '<1', '1<=X<4', '4<=X<7', '>=7'],
    ['none', 'yes'],
    ['no', 'yes'],
    [1, 2, 3, 4],
    [1.0, 2.0, 3.0, 4.0],
    [1.0, 2.0, 3.0, 4.0],
    [1, 2],
]

In [32]:
ordinal_encoder = sklearn.preprocessing.OrdinalEncoder()
ordinal_encoder

OrdinalEncoder()

In [33]:
ordinal_encoder.fit(data_train_categorical_features)

OrdinalEncoder()

In [34]:
ordinal_encoder.categories_

[array(['federal-gov', 'local-gov', 'never-worked', 'private',
        'self-emp-inc', 'self-emp-not-inc', 'state-gov', 'without-pay'],
       dtype=object),
 array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
        'assoc-acdm', 'assoc-voc', 'bachelors', 'doctorate', 'hs-grad',
        'masters', 'preschool', 'prof-school', 'some-college'],
       dtype=object),
 array(['divorced', 'married-af-spouse', 'married-civ-spouse',
        'married-spouse-absent', 'never-married', 'separated', 'widowed'],
       dtype=object),
 array(['adm-clerical', 'armed-forces', 'craft-repair', 'exec-managerial',
        'farming-fishing', 'handlers-cleaners', 'machine-op-inspct',
        'other-service', 'priv-house-serv', 'prof-specialty',
        'protective-serv', 'sales', 'tech-support', 'transport-moving'],
       dtype=object),
 array(['husband', 'not-in-family', 'other-relative', 'own-child',
        'unmarried', 'wife'], dtype=object),
 array(['amer-indian-eskimo', 'asian-pac-islander', 'black', 'other',
        'white'], dtype=object),
 array(['female', 'male'], dtype=object),
 array(['CAN', 'CHN', 'COL', 'CUB', 'DOM', 'DUE', 'ECU', 'FRA', 'GBR',
        'GRC', 'GTM', 'HKG', 'HND', 'HTI', 'HUN', 'IND', 'IRL', 'IRN',
        'ITA', 'JAM', 'JPN', 'KHM', 'LAO', 'MEX', 'NIC', 'NLD', 'PER',
        'PHL', 'POL', 'PRI', 'PRT', 'SLV', 'THA', 'TTO', 'TWN', 'UMI',
        'USA', 'VNM', 'YUG', 'ZAF'], dtype=object),
 array(['cambodia', 'canada', 'china', 'columbia', 'cuba',
        'dominican-republic', 'ecuador', 'el-salvador', 'england',
        'france', 'germany', 'greece', 'guatemala', 'haiti',
        'holand-netherlands', 'honduras', 'hong', 'hungary', 'india',
        'iran', 'ireland', 'italy', 'jamaica', 'japan', 'laos', 'mexico',
        'nicaragua', 'outlying-us(guam-usvi-etc)', 'peru', 'philippines',
        'poland', 'portugal', 'puerto-rico', 'scotland', 'south', 'taiwan',
        'thailand', 'trinadad&tobago', 'united-states', 'vietnam',
        'yugoslavia'], dtype=object)]

In [35]:
data_train_categorical_features = pandas.DataFrame(
    data = ordinal_encoder.transform(data_train_categorical_features),
    columns = ordinal_encoder.get_feature_names_out(),
    index = data_train_categorical_features.index
)
data_train_categorical_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
8616,4.0,9.0,2.0,3.0,0.0,4.0,1.0,36.0,38.0
21982,1.0,10.0,2.0,9.0,0.0,4.0,1.0,36.0,38.0
11191,3.0,11.0,4.0,7.0,1.0,4.0,0.0,36.0,38.0
22229,3.0,11.0,0.0,6.0,2.0,2.0,1.0,36.0,38.0
20732,3.0,9.0,2.0,11.0,0.0,4.0,1.0,36.0,38.0
...,...,...,...,...,...,...,...,...,...
21575,3.0,7.0,4.0,11.0,1.0,4.0,1.0,36.0,38.0
5390,3.0,13.0,2.0,7.0,0.0,4.0,1.0,23.0,25.0
860,3.0,15.0,2.0,0.0,0.0,4.0,1.0,36.0,38.0
15795,6.0,15.0,4.0,6.0,3.0,4.0,0.0,36.0,38.0
23654,3.0,12.0,2.0,3.0,0.0,4.0,1.0,36.0,38.0

In [36]:
data_test_categorical_features = pandas.DataFrame(
    data = ordinal_encoder.transform(data_test_categorical_features),
    columns = ordinal_encoder.get_feature_names_out(),
    index = data_test_categorical_features.index
)
data_test_categorical_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
27867,3.0,12.0,0.0,9.0,1.0,4.0,1.0,0.0,1.0
27868,5.0,11.0,2.0,2.0,0.0,4.0,1.0,36.0,38.0
27869,3.0,9.0,2.0,9.0,0.0,1.0,1.0,1.0,2.0
27870,4.0,15.0,4.0,7.0,3.0,1.0,0.0,39.0,34.0
27871,1.0,7.0,2.0,10.0,0.0,4.0,1.0,36.0,38.0
...,...,...,...,...,...,...,...,...,...
34862,1.0,15.0,4.0,10.0,1.0,2.0,1.0,36.0,38.0
34863,3.0,9.0,4.0,11.0,3.0,4.0,1.0,5.0,10.0
34864,1.0,9.0,2.0,9.0,0.0,4.0,1.0,23.0,25.0
34865,3.0,11.0,2.0,13.0,0.0,4.0,1.0,36.0,38.0
34866,3.0,14.0,4.0,9.0,1.0,4.0,0.0,36.0,38.0

In [37]:
data_train_ordinal_features = data_train_categorical_features
data_train_ordinal_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
8616,4.0,9.0,2.0,3.0,0.0,4.0,1.0,36.0,38.0
21982,1.0,10.0,2.0,9.0,0.0,4.0,1.0,36.0,38.0
11191,3.0,11.0,4.0,7.0,1.0,4.0,0.0,36.0,38.0
22229,3.0,11.0,0.0,6.0,2.0,2.0,1.0,36.0,38.0
20732,3.0,9.0,2.0,11.0,0.0,4.0,1.0,36.0,38.0
...,...,...,...,...,...,...,...,...,...
21575,3.0,7.0,4.0,11.0,1.0,4.0,1.0,36.0,38.0
5390,3.0,13.0,2.0,7.0,0.0,4.0,1.0,23.0,25.0
860,3.0,15.0,2.0,0.0,0.0,4.0,1.0,36.0,38.0
15795,6.0,15.0,4.0,6.0,3.0,4.0,0.0,36.0,38.0
23654,3.0,12.0,2.0,3.0,0.0,4.0,1.0,36.0,38.0

In [38]:
data_test_ordinal_features = data_test_categorical_features
data_test_ordinal_features

,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,
27867,3.0,12.0,0.0,9.0,1.0,4.0,1.0,0.0,1.0
27868,5.0,11.0,2.0,2.0,0.0,4.0,1.0,36.0,38.0
27869,3.0,9.0,2.0,9.0,0.0,1.0,1.0,1.0,2.0
27870,4.0,15.0,4.0,7.0,3.0,1.0,0.0,39.0,34.0
27871,1.0,7.0,2.0,10.0,0.0,4.0,1.0,36.0,38.0
...,...,...,...,...,...,...,...,...,...
34862,1.0,15.0,4.0,10.0,1.0,2.0,1.0,36.0,38.0
34863,3.0,9.0,4.0,11.0,3.0,4.0,1.0,5.0,10.0
34864,1.0,9.0,2.0,9.0,0.0,4.0,1.0,23.0,25.0
34865,3.0,11.0,2.0,13.0,0.0,4.0,1.0,36.0,38.0
34866,3.0,14.0,4.0,9.0,1.0,4.0,0.0,36.0,38.0

## For nominal features
- Define a subset of nominal features
- Define a list of nominal maps which sort the feature values in appropriate orders
- Use `sklearn.preprocessing.OneHotEncoder` to create an nominal encoder, then fit using the training data
- Create a new `pandas.DataFrame` of only nominally encoded features for both training and test data

nominal_features = [
    'job', 
    'checking_status', 
    'credit_history', 
    'purpose', 
    'savings_status',
    'personal_status', 
    'other_parties', 
    'property_magnitude',
    'other_payment_plans', 
    'housing', 
]

nominal_mapping = [
    [ 'unemp/unskilled non res', 'unskilled resident', 'skilled', 'high qualif/self emp/mgmt'],
    ['no checking', '<0', '0<=X<200', '>=200'],
    ['delayed previously', 'all paid', 'critical/other existing credit', 'existing paid', 'no credits/all paid'],
    ['furniture/equipment', 'business', 'new car', 'used car', 'radio/tv', 'domestic appliance', 'repairs', 'education', 'retraining', 'other'],
    ['no known savings', '<100', '100<=X<500', '500<=X<1000', '>=1000'],
    ['male single', 'female div/dep/mar', 'male mar/wid', 'male div/sep'],
    ['none', 'guarantor', 'co applicant'],
    ['no known property', 'life insurance', 'car', 'real estate'],
    ['none', 'stores', 'bank'],
    ['for free', 'rent', 'own']
]

onehot_encoder = sklearn.preprocessing.OneHotEncoder(categories=nominal_mapping, sparse_output=False)
onehot_encoder

onehot_encoder.fit(
    X=data_train[nominal_features]
)

onehot_encoder.get_feature_names_out()

data_train_nominal_features = pandas.DataFrame(
    data    = onehot_encoder.transform(data_train[nominal_features]),
    columns = onehot_encoder.get_feature_names_out(),
    index   = data_train.index
)
data_train_nominal_features

data_test_nominal_features = pandas.DataFrame(
    data    = onehot_encoder.transform(data_test[nominal_features]),
    columns = onehot_encoder.get_feature_names_out(),
    index   = data_test.index
)
data_test_nominal_features

## For ordinal labels
- Define a subset of ordinal features
- Use `sklearn.preprocessing.OrdinalEncoder` to create an ordinal encoder, then fit using the training data
  - Map {`good`, `bad`} to {0, 1} respectively
- Create a new `pandas.DataFrame` of ordinally encoded labels for both training and test data

label_encoder = sklearn.preprocessing.OrdinalEncoder(categories=[['good','bad']])
label_encoder

label_encoder.fit(data_train[['label']])

data_train_label = pandas.DataFrame(
    data    = label_encoder.transform(data_train[['label']]),
    columns = ['label'],
    index   = data_train.index
)
data_train_label

data_test_label = pandas.DataFrame(
    data    = label_encoder.transform(data_test[['label']]),
    columns = ['label'],
    index   = data_test.index
)
data_test_label

## Reconstruction of data sets
- Combine the 4 `pandas.DataFrame` to obtain the fully processed training and test data
  - Hint: use `.join`

In [39]:
data_train = (
    data_train_numerical_features
        .join(data_train_ordinal_features)
        .join(data_train[['label']])
)
data_train

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country,label
id,,,,,,,,,,,,,,,,,,
8616,1.074396,1.285441,0.071689,0.783535,0.975334,-0.326858,-0.234681,1.092439,4.0,9.0,2.0,3.0,0.0,4.0,1.0,36.0,38.0,1.0
21982,-1.534570,-1.103815,0.871141,-0.414340,2.126163,-0.326858,2.877363,-0.048355,1.0,10.0,2.0,9.0,0.0,4.0,1.0,36.0,38.0,1.0
11191,-0.952128,1.541907,-1.527215,0.499810,-0.559105,-0.326858,-0.234681,-1.189149,3.0,11.0,4.0,7.0,1.0,4.0,0.0,36.0,38.0,0.0
22229,-0.698142,1.208222,0.071689,-0.683323,-0.559105,-0.326858,-0.234681,-0.048355,3.0,11.0,0.0,6.0,2.0,2.0,1.0,36.0,38.0,0.0
20732,-0.502967,-1.318003,0.871141,-0.277714,0.975334,-0.326858,-0.234681,1.092439,3.0,9.0,2.0,11.0,0.0,4.0,1.0,36.0,38.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,0.248551,1.336455,-1.527215,-0.405358,0.591724,-0.326858,-0.234681,-0.048355,3.0,7.0,4.0,11.0,1.0,4.0,1.0,36.0,38.0,0.0
5390,-0.297652,0.539104,0.871141,1.368795,-3.627983,-0.326858,-0.234681,-0.048355,3.0,13.0,2.0,7.0,0.0,4.0,1.0,23.0,25.0,0.0
860,0.494586,-1.309268,0.871141,-1.431674,-0.175495,-0.326858,-0.234681,-0.048355,3.0,15.0,2.0,0.0,0.0,4.0,1.0,36.0,38.0,1.0
15795,-1.138869,0.965033,-1.527215,0.835243,-0.175495,-0.326858,-0.234681,-0.048355,6.0,15.0,4.0,6.0,3.0,4.0,0.0,36.0,38.0,0.0
23654,-0.053051,-0.799480,1.670593,-0.114799,1.358944,-0.326858,-0.234681,1.092439,3.0,12.0,2.0,3.0,0.0,4.0,1.0,36.0,38.0,1.0

In [40]:
data_test = (
    data_test_numerical_features
        .join(data_test_ordinal_features)
        
)
data_test

,social-security-number,house-number,age-group,fnlwgt,education-num,capitalgain,capitalloss,hoursperweek,workclass,education,marital-status,occupation,relationship,race,sex,native-country-code,native-country
id,,,,,,,,,,,,,,,,,
27867,-0.070140,-0.284801,-1.775140e-16,0.245956,1.358944,-0.326858,-0.234681,-0.048355,3.0,12.0,0.0,9.0,1.0,4.0,1.0,0.0,1.0
27868,0.328634,-1.178938,-7.277627e-01,-1.221542,-0.559105,-0.326858,-0.234681,-0.048355,5.0,11.0,2.0,2.0,0.0,4.0,1.0,36.0,38.0
27869,1.203952,0.897947,7.168925e-02,0.774717,0.975334,-0.326858,-0.234681,-0.048355,3.0,9.0,2.0,9.0,0.0,1.0,1.0,1.0,2.0
27870,0.130615,0.849030,-1.527215e+00,-0.388883,-0.175495,-0.326858,-0.234681,-1.189149,4.0,15.0,4.0,7.0,3.0,1.0,0.0,39.0,34.0
27871,1.436679,-0.486410,-7.277627e-01,-0.063507,0.591724,-0.326858,-0.234681,-0.048355,1.0,7.0,2.0,10.0,0.0,4.0,1.0,36.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34862,-0.993863,-0.048601,-7.277627e-01,0.834739,-0.175495,-0.326858,-0.234681,-0.048355,1.0,15.0,4.0,10.0,1.0,2.0,1.0,36.0,38.0
34863,-0.290510,0.535610,7.168925e-02,0.400111,0.975334,-0.326858,-0.234681,-0.048355,3.0,9.0,4.0,11.0,3.0,4.0,1.0,5.0,10.0
34864,-0.335037,-1.630374,-7.277627e-01,2.330491,0.975334,-0.326858,-0.234681,-0.048355,1.0,9.0,2.0,9.0,0.0,4.0,1.0,23.0,25.0
34865,-1.682173,-0.445180,8.711412e-01,0.580198,-0.559105,-0.326858,-0.234681,1.092439,3.0,11.0,2.0,13.0,0.0,4.0,1.0,36.0,38.0
34866,0.909053,-1.510527,7.168925e-02,-0.806659,1.742553,3.933366,-0.234681,1.092439,3.0,14.0,4.0,9.0,1.0,4.0,0.0,36.0,38.0

# Instructions
- Write the train data set to `./data/features.train.csv`
- Write the test data set to `./data/features.test.csv`

In [41]:
data_train.to_csv('./data/n_high_salary_features.train.csv')

In [42]:
data_test.to_csv('./data/n_high_salary_features.test.csv')