In [1]:
import joblib
import json
import pandas

import sklearn.neighbors

# Instructions

- Read **the train data** from the CSV file and properly set the index

In [6]:
data_train = pandas.read_csv('../data/high_salary.train.csv').set_index('id')
data_train

,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,label
id,,,,,,,,,,,,,,,,,,
8616,830617145.0,8732.0,2.0,self-emp-inc,270079.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0
21982,151595184.0,1894.0,3.0,local-gov,146325.0,doctorate,16.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,2.0,2.0,USA,united-states,1.0
11191,303184281.0,9466.0,0.0,private,240767.0,hs-grad,9.0,never-married,other-service,not-in-family,white,female,0.0,0.0,1.0,USA,united-states,0.0
22229,369287837.0,8511.0,2.0,private,118536.0,hs-grad,9.0,divorced,machine-op-inspct,other-relative,black,male,0.0,0.0,2.0,USA,united-states,0.0
20732,420084973.0,1281.0,3.0,private,160440.0,bachelors,13.0,married-civ-spouse,sales,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,615678823.0,8878.0,0.0,private,147253.0,assoc-acdm,12.0,never-married,sales,not-in-family,white,male,0.0,0.0,2.0,USA,united-states,0.0
5390,473521238.0,6596.0,3.0,private,330543.0,preschool,1.0,married-civ-spouse,other-service,husband,white,male,0.0,0.0,2.0,MEX,mexico,0.0
860,679713121.0,1306.0,3.0,private,41223.0,some-college,10.0,married-civ-spouse,adm-clerical,husband,white,male,0.0,0.0,2.0,USA,united-states,1.0
15795,254582054.0,7815.0,0.0,state-gov,275421.0,some-college,10.0,never-married,machine-op-inspct,own-child,white,female,0.0,0.0,2.0,USA,united-states,0.0
23654,537182363.0,2765.0,4.0,private,177271.0,masters,14.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states,1.0

# Instructions

- Instantiate a `sklearn.neighbors.KNeighborsClassifier` model with the following configurations
```
    n_neighbors=5,
    weights='uniform', 
    p=2, 
```
- Fit the model with data columns properly selected
- Use `joblib.dump` to save the model to `./model/model.joblib`
- Also, use `.get_params`, `json.dump` to save the model configuration to  `./model/config.json`
- Print out all model parameters (not to be confused with model configuration)

In [7]:
model = sklearn.neighbors.KNeighborsClassifier(
    n_neighbors=5,
    weights='uniform', 
    p=2, 
)

In [9]:
model.fit(
    data_train.drop(['label'], axis='columns'),
    floatdata_train['label'],
)

TypeError: cannot convert the series to <class 'float'>

In [5]:
joblib.dump(model, './model/model.joblib')

['./model/model.joblib']

In [6]:
with open('./model/config.json', 'w') as f:
    json.dump(model.get_params(), f, indent=4)